body {
  background-color: #c7cbdd;
}

fieldset {
  width: fit-content;
  margin: 8px;
  border-radius: 5px;
  border-color: rgb(255, 163, 163);
}

input {
  width: 120px;
  height: 20px;
  font-size: large;
  padding-top: 3px;
}

input::placeholder {
  font-size: 75%;
  font-style: italic;
  color: red;
}

#custom-text {
  width: 140px;
  font-size: small;
}

#custom-text::placeholder {
  font-size: x-small;
  color: gray;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin: 4px;
}
